@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.quiz div {
  display: inline;
}

.colorList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.colorList figure {
  height: 200px;
  width: 200px;
  color: white;
  background-color: blueviolet;
  position: relative;
}

.colorList figure span {
  position: absolute;
  left: 0px;
  top: 0px;
}

.colorList figure button {
  margin: 0px;
  padding: 0px;
}
.colorList figure #tileButtons {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.colorList figure svg {
  width: 100%;
  background-color: blueviolet;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
